extends layout

block content
  div(class="header" id="timerSticky")
    p(class="text-center")
      em(id="time") Ready
  strong Seed: #{seed}
  hr
  div(id="b" style="display:none;")
    block data

  form(action=verifUrl method="POST")
    button.btn.btn-primary(type='submit' onclick="finish();") Submit

  script.


    function finish(){
      clearInterval(i);
      document.getElementById("memZone").innerHTML="<strong>Finished</strong>";
    }
    var i;
    setTimeout(function() {
      clearInterval(j);
      var b = document.getElementById("b")
      b.style.display = 'block';
      i = setInterval(function() {
        if(Number(#{timer})+1-t == 0){
          clearInterval(i)
        }
        t+=.1;
        document.getElementById('time').innerHTML = (Number(#{timer})-Number(t)).toFixed(1)+" seconds left!";
      }, 100);
    }, 10000)

    var left=10;
    var j = setInterval(function() {
      if(left == 0){
        clearInterval(j)
      }
      left--;
      document.getElementById('time').innerHTML = Number(left)+" before memorization";
    }, 1000);

    setTimeout(function () {
      finish()
      document.getElementById('time').innerHTML = "0 "
      var form = $('<form action="#{verifUrl}" method="post"></form>');
      $('body').append(form);
      form.submit();
    }, (Number(#{timer})+10)*1000)
    var t = 0;

    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the header
    var header = document.getElementById("timerSticky");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    } 