extends layout

block content
  p(class="text-center")
    em(id="time") #{timer} 
    | seconds left!
  strong Seed: #{seed}
  hr
  block data

  form(action=verifUrl method="POST")
    button.btn.btn-primary(type='submit' onclick="finish();") Submit

  script.

    function finish(){
      clearInterval(i);
      document.getElementById("memZone").innerHTML="<strong>Finished</strong>";
    }
    setTimeout(function () {
      finish()
      document.getElementById('time').innerHTML = "0 "
      var form = $('<form action="#{verifUrl}" method="post"></form>');
      $('body').append(form);
      form.submit();
    }, Number(#{timer})*1000)
    var t = 0;
    var i = setInterval(function() {
      if(Number(#{timer})+1-t == 0){
        clearInterval(i)
      }
      t+=.1;
      document.getElementById('time').innerHTML = (Number(#{timer})-Number(t)).toFixed(1)+" ";
    }, 100);