extends layout

block content

  block data

  form(action=verifUrl method="POST")
    button.btn.btn-primary(type='submit' onclick="finish();") Submit

  script.

    function finish(){
      clearInterval(i);
      document.getElementById("memZone").innerHTML="<strong>Finished</strong>";
    }
    setTimeout(function () {
      finish()
      var form = $('<form action="#{verifUrl}" method="post"></form>');
      $('body').append(form);
      form.submit();
    }, #{timer}*1000)
    var t = 0;
    var i = setInterval(function() {
      if(#{timer}+1-t == 0){
        clearInterval(i)
      }
      t+=1;
      document.getElementById('time').innerHTML = #{timer}-t+" ";
    }, 1000);