extends layout

block content
  h1 Profile of #{user.username}
  h2 Level #{level} with #{xp.toFixed(0)} xp! [#{rank}]
  hr
  h2 Your last 5 games
  table(class="table table-striped table-bordered")
    thead
      tr
        th(scope='col') Date
        th(scope='col') Type
        th(score='col') Score
        th(scope='col') Seed
    tbody
      each g in games
        tr
          td
            | #{g.date.toLocaleDateString("en-US")}
          td 
            | #{g.type}
          td 
            | #{g.score}/#{g.maxscore}
          td 
            | #{g.seed} 
  hr
  h2 Player Stats
  h3 Best Scores
  div(id="tester" class="center-block" style="width:600px;height:400px;")
  h3 Total Games played
  table(class="table table-striped table-bordered w-auto")
    thead
      tr()
        th(scope='col') Game Type
        th(scope='col') # Games Played
    tbody
      each g in nbg
        tr
          td
            | #{g['_id']}
          td
            | #{g['count']}

  h3 Overall Games
  table(class="table table-striped table-bordered w-auto")
    thead
      tr()
        th(scope='col') Game Type
        th(scope='col') # Elements Remembered
    tbody
      each g in sc
        tr
          td
            | #{g['_id']}
          td
            | #{g['count']}

  script.
    //console.log("#{px}".spli+"")
    var data = [
    {
      x: "#{px}".split(","),
      y: "#{py}".split(","),
      type: 'bar'
    }];
    Plotly.newPlot('tester', data);