extends layout

block content
  h1 Profile of #{user.username}
  hr
  h2 Previous games
  table(class="table table-striped table-bordered")
    thead
      tr
        th(scope='col') Date
        th(scope='col') Type
        th(score='col') Score
        th(scope='col') Seed
    tbody
      each g in games
        tr
          td
            | #{g.date.toLocaleDateString("en-US")}
          td 
            | #{g.type}
          td 
            | #{g.score}/#{g.maxscore}
          td 
            | #{g.seed} 
  hr
  h2 Player Stats
  h3 Total Games played
  table(class="table table-striped table-bordered w-auto")
    thead
      tr()
        th(scope='col') Game Type
        th(scope='col') # Games Played
    tbody
      each g in nbg
        tr
          td
            | #{g['_id']}
          td
            | #{g['count']}

  h3 Game scores
  table(class="table table-striped table-bordered w-auto")
    thead
      tr()
        th(scope='col') Game Type
        th(scope='col') # Elements Remembers
    tbody
      each g in sc
        tr
          td
            | #{g['_id']}
          td
            | #{g['count']}