extends layout

block content
  h1 Flash words
  strong Seed: #{seed}
  hr
  p(class="text-center")
    em(id="word") Ready

  hr
  script.
    var words = "#{word_list}".split(",");

    var t = 0;
    var i = setInterval(function() {
      document.getElementById('word').innerHTML = words[t];
      if(t == #{size}){
        clearInterval(i)
      }
      t+=1;
    }, #{duration}*1000);
    
    setTimeout(function () {
      clearInterval(i);
      document.getElementById('word').innerHTML="<strong>Finished</strong>";
      var form = $('<form action="/game/flash_words/verify" method="post"></form>');
      $('body').append(form);
      form.submit();
    }, (words.length+1)*#{duration}*1000);