extends layout

block content
  h1= title
  p Welcome to #{title}.
  hr
  p Use this website to train your memory.
  p To get better scores, you can use techniques such as memory palaces etc.

  p Have fun :p (register to get your scores counted)

  ul
    li
      a(href='/game/numbers/') Numbers (base 10 / binary)
    li
      a(href='/game/words/') Words 
    li
      a(href='/game/pi/') Recall famous numbers (Pi, golden ratio, square root of 2...)
    li
      a(href='/game/flash_words') Flash words
    li
      a(href='/game/grid') Grid
    li 
      a(href='/game/picture') Picture
    li
      | (More to come)
      
  if err
    strong Failed to retrieve data from Database
  else
    hr
    h1 Recent Games
    table(class="table table-striped table-bordered w-auto")
      thead
        tr()
          th(scope='col') Player
          th(scope='col') Date
          th(scope='col') Type
          th(score='col') Score
          th(scope='col') Seed
      tbody
        each g in lastGames
          tr
            td
              | #{g.user.username}
            td
              | #{g.date.toLocaleString()}
            td 
              | #{g.type}
              if(g.type)
                if(g.type=="Words" || g.type=="Flashwords")
                  |  (#{g.add})
                else if(g.type=="Pi" || g.type=="Phi" || g.type=="Sq2")
                  |  (from #{g.add})
            td 
              | #{g.score}/#{g.maxscore}
            td 
              | #{g.seed} 