extends layout

block content
  h1= title
  hr

  if err
    h2 #{err}
  else if recall
    h2(id='score') Your score: #{score}
    - var score = 0
    hr
    strong Correction:
    br

    div(class="corrzone")
      - var i = 0
      each valc, index in correct
        - var c = recall[index]
        if c == undefined
          - c = '_'
        if valc == c
          - score++
          strong(class="bg-success") #{valc} : #{c}
        else
          strong(class="bg-danger") #{valc} : #{c}
        | &nbsp; 
        - i++
        if i % row == 0
          br
    script.
      document.getElementById("score").innerHTML="Your score: #{score}/#{size}";
  else
    strong For seed: #{seed}
    br
    strong Total numbers: #{size}
      hr

    form(method='POST' action='')
      div.form-group
        label(for='recall') Recall:
        input#recall.form-control(type='number' placeholder='recall' name='recall')

        input#seed.form-control(type='hidden', name='seed' value=seed)
        input#size.form-control(type='hidden', name='size' value=size)
        input#row.form-control(type='hidden', name='row' value=row)
      button.btn.btn-primary(type='submit') Submit
