extends layout

block content
  h1= title
  hr

  if err
    h2 #{err}
  else if recall
    h2(id='score') Your score: #{score}/#{amount*group_by}
    hr
    table(class="table table-bordered")
      thead
        tr
          th(scope='col') # Row
          th(scope='col') Recall
          th(scope='col') Correct
      tbody
        - var l = 0
        - var cl = nList[l]
        while l < amount
          tr(class=lg[l])
            th(scope='row') #{l}
            td
              each n in nList[l]
                | #{n} 
            td
              each n in correct[l]
                | #{n} 
          - l++
  else
    strong Total numbers: #{size}
      hr
    p Enter the numbers in the following text input, without any separation between digits (put a random character for the ones you don't remember).

    form(method='POST' action='/game/pi/verify')
      div.form-group

        table(class="table table-bordered table-striped table-hover")
          thead
            tr
              th(scope='col') # Row
              th(scope='col') Numbers
          tbody
            - var l = 0
            while l < amount
              tr
                th(scope='row') #{parseInt(from)+(parseInt(l)*group_by)}
                td
                  input(type="input", name=l, maxlength=group_by)
              - l++

      button.btn.btn-primary(type='submit') Submit
