extends layout

block content
  h1 Grid mem
  strong Pictures taken from https://github.com/MariaLetta/mega-doodles-pack Thanks!
  br
  hr
  p #{picList} #{seed}
  div(id="score")
  h2(id="time") Go!
  hr
  div(id="corr")
  div(id="drawing")


  script. 
    var pics = "#{picList}".split(",");
    var pos = "#{pos}".split(',');
    var rot = "#{rot}".split(',');
    var draw;
    var already=0;
    
    function init(){
      if(already<2){
        var dr = document.getElementById("drawing");
        draw = SVG().addTo(dr).size(600, 600)

        var image = draw.image('/images/back.svg');
        image.size(600,600).move(0,0);

        for(var i=0;i<pics.length;i++){
        var image = draw.image('/images/pics/doodlep-'+pics[i]+'.svg')
        image.size(70, 70).move(pos[2*i],pos[2*i+1]);
        image.transform({rotate: rot[i]});
        }
      }
      already++;
    }


    setTimeout(function () {
      var form = $('<form action="/game/picture/verify" method="post"></form>');
      $('body').append(form);
      form.submit();
    }, (#{duration}+1)*1000);

    var t = 0;
    var i = setInterval(function() {
      if((#{duration}+1)-t == 1){
        clearInterval(i)
        document.getElementById("time").innerHTML = "<h2>Recall!</h2>";
        return;
      }
      t+=1;
      document.getElementById("time").innerHTML = (#{duration}+1)-t;
    }, 1000);
    init();