extends layout

block content
  h1 Grid mem
  strong Pictures taken from https://github.com/MariaLetta/mega-doodles-pack Thanks!
  br
  hr
  div(id="score")
  h2(id="time") Go!
  hr

  table
    - var i = 0
    each v in correct
      if i % 5 == 0
        tr
      td 
        input(type='checkbox' id=correct[i])
        label(for=correct[i])
          img(src='/images/pics/doodlep-'+correct[i]+'.svg' width='50px' height='50px')
      - i++
  input(type='submit' value='validate' class='btn btn-primary' onclick='return validate();')

  div(id="corr")
  div(id="drawing")

  script. 
    var pics = "#{picList}".split(",");
    var verif = "#{correct}".split(",");
    var pos = "#{pos}".split(',');
    var rot = "#{rot}".split(',');

    var draw;
    var already=0;
    
    function init(){
      if(already<1){
        var dr = document.getElementById("drawing");
        draw = SVG().addTo(dr).size(600, 600)

        var image = draw.image('/images/back.svg');
        image.size(600,600).move(0,0);

        for(var i=0;i<pics.length;i++){
        var image = draw.image('/images/pics/doodlep-'+pics[i]+'.svg')
        image.size(70, 70).move(pos[2*i],pos[2*i+1]);
        image.transform({rotate: rot[i]});
        }
      }
      already++;
    }

    function validate() {
      var score = 0;
      var max = 0;
      for(var i=0;i<verif.length;i++){
        var el = document.getElementById(verif[i]);
        if(pics.indexOf(verif[i])!=-1) max++;
        if(el.checked==true && pics.indexOf(verif[i])!=-1){
          score++;
        }else if((el.checked==true && pics.indexOf(verif[i])==-1)||(el.checked==false && pics.indexOf(verif[i])!=-1)){
          score--;
        }
      }
      var d = document.getElementById("score");
      d.innerHTML="<h2>Score: "+score+" / "+max+"</h2>";
      init();
    }

