extends layout

block content
  h1 Grid mem
  strong Pictures taken from https://github.com/MariaLetta/mega-doodles-pack Thanks!
  br
  hr
  div(id="score")
  h2(id="time") Go!
  hr
  div(id="corr")
  div(id="drawing")


  script. 
    var pics = [];
    var verif = [];
    var draw;
    var already=0;

    for(var i=0;i<#{nbPics};i++)
      pics.push(1+Math.round(Math.random()*150));
    
    function init(){
      if(already<2){
        var dr = document.getElementById("drawing");
        draw = SVG().addTo(dr).size(600, 600)

        var image = draw.image('/images/back.svg');
        image.size(600,600).move(0,0);

        for(var i=0;i<pics.length;i++){
        var image = draw.image('/images/pics/doodlep-'+pics[i]+'.svg')
        image.size(70, 70).move(Math.round(Math.random()*500),Math.round(Math.random()*500));
        image.transform({rotate: Math.round(Math.random()*360)});
        }
      }
      already++;
    }

    function validate() {
      var score = 0;
      var max = 0;
      for(var i=0;i<verif.length;i++){
        var el = document.getElementById(verif[i]);
        if(pics.indexOf(verif[i])!=-1) max++;
        if(el.checked==true && pics.indexOf(verif[i])!=-1){
          score++;
        }else if((el.checked==true && pics.indexOf(verif[i])==-1)||(el.checked==false && pics.indexOf(verif[i])!=-1)){
          score--;
        }
      }
      var d = document.getElementById("score");
      d.innerHTML="<h2>Score: "+score+" / "+max+"</h2>";
      init();
    }
    setTimeout(function () {
      for(var i=0;i<40;i++)
        verif.push(Math.round(1+Math.random()*150));
      verif = Array.from(new Set(verif))
      var b = document.getElementById('drawing');
      b.innerHTML="";
      var c = document.getElementById('corr');
      var text="<table>";
      for(var i=0;i<verif.length;i++){
        if(i%5==0) text+="</tr><tr>"
        text+="<td><input type='checkbox' id='"+verif[i]+"' /><label for='"+verif[i]+"'><img src='/images/pics/doodlep-"+verif[i]+".svg' width='50px' height='50px'/></label></td>";
      }
      text+="</table><input type='submit' value='Validate' class='btn btn-primary' onclick='return validate();'/></form>"
      c.innerHTML=text;

    }, (#{duration}+1)*1000);

    var t = 0;
    var i = setInterval(function() {
      if((#{duration}+1)-t == 1){
        clearInterval(i)
        document.getElementById("time").innerHTML = "<h2>Recall!</h2>";
        return;
      }
      t+=1;
      document.getElementById("time").innerHTML = (#{duration}+1)-t;
    }, 1000);
    init();