extends layout

block content
  h1 Statistics

  p A few numbers about the website's usage.
  hr

  if err
    h2 Error fetching data
  else
    h3 Users Registered: #{nbu}
    hr
    table(class="table table-striped table-bordered w-auto")
      thead
        tr()
          th(scope='col') Game
          th(scope='col') # Games Played
          th(scope='col') # Elements remembered
      tbody
        each g in nbg
          tr
            td
              | #{g['_id']}
            td
              | #{g['count']} 
            td
              | #{g['count2']}
    hr
    h3 Best scores
    table(class="table table-striped table-bordered w-auto")
      thead
        tr()
          th(scope='col') Game
          th(scope='col') # Max score
      tbody
        each g in bs
          tr
            td
              | #{g['_id']}
            td
              | #{g['count']}
    hr