extends verify

block verif
  if recall
    table(class="table table-bordered")
      thead
        tr
          th(scope='col') #
          th(scope='col') Recall
          th(scope='col') Correct
      tbody
        - var l = 0
        
        while l < amount
          - var cl = (''+nList[l]).split(" ")
          tr(class=lg[l])
            th(scope='row') #{l*group_by}
            td
              each n in cl
                | #{n} 
            td
              each n in correct[l]
                | #{n} 
          - l++
  else
    p Enter the words in the following text input, separating words with a space.

    form(method='POST' action='verify')
      div.form-group
        table(class="table table-bordered table-striped table-hover")
          thead
            tr
              th(scope='col') #
              th(scope='col') Words
          tbody
            - var l = 0
            while l < amount
              tr
                th(scope='row') #{l}
                td
                  input(type="input" name=l autocomplete="off")
              - l++
      if ! recall
        button.btn.btn-primary(type='submit') Submit